[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
django-filter = "*"
requests = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-rest-framework-nested = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.12"
