asgiref==3.7.2
awsebcli==3.20.10
beautifulsoup4==4.12.3
botocore==1.31.85
bs4==0.0.2
cement==2.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.3
coverage==7.4.4
cramjam==2.8.3
Django==5.0.3
django-appconf==1.0.6
django-autocomplete-light==3.11.0
django-debug-toolbar==4.3.0
django-mysql==4.12.0
django-redis==5.4.0
django-select2==8.1.2
djhacker==0.2.3
dnspython==2.6.1
idna==3.6
iniconfig==2.0.0
jmespath==1.0.1
mysqlclient==2.2.4
packaging==24.0
pathspec==0.10.1
pluggy==1.4.0
pymongo==4.7.1
pypiwin32==223
pytest==8.1.1
pytest-cov==4.1.0
pytest-django==4.8.0
python-dateutil==2.9.0.post0
python-snappy==0.7.1
pywin32==306
PyYAML==6.0.1
redis==5.0.3
requests==2.31.0
semantic-version==2.8.5
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
termcolor==1.1.0
tzdata==2024.1
urllib3==1.26.18
wcwidth==0.1.9
winkerberos==0.10.0
