{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <a href="{% url 'display_home' %}" class="btn btn-secondary">Back</a>
    <br/><br/>
    <h1>Search Results for "{{ query }}"</h1>

    {% if skipped == True %}
        <p class = 'lead'>Some results were skipped because they are already in your list.</p>
    {% endif %}

    <div class="text-left mt-5">
        {% for result in movie_results %}
            <div class="card text-left">
                <div class="card-header">
                    <h4>{{ result.title }}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{{ result.poster_path }}" width="200"></img>
                        </div>
                        <div class="col-md-10">
                            <p class="card-title"> {{ result.overview }}</p>
                            <a href="{% url 'add_movie' result.id result.poster_extension result.title %}" class="btn btn-secondary">Add This Movie</a>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        {% endfor %}
    </div>
</div>
{% endblock %}