<html>
    <body>
        <h1>Users</h1>
        {% for user in users %}
        <ul>
            <strong>User {{ user.id }}:</strong>
            <li>Username: {{ user.username }}</li>
            <li>First Name: {{ user.first_name }}</li>
            <li>Last Name: {{ user.last_name }}</li>
        </ul>
        {% endfor %}
        <h1>Movies</h1>
        {% for movie in movies %}
        <ul>
            <strong>Movie {{ movie.0 }}:</strong>
            <li>Original Title: {{ movie.1 }}</li>
            <li>Runtime: {{ movie.2 }}</li>
            <li>Primary Title: {{ movie.3 }}</li>
            <li>Release Year: {{ movie.4 }}</li>
        </ul>
        {% endfor %}
        <h1>Actors</h1>
        
        <ul>
            {% for actor in actors %}
            <li>{{ actor.0 }}</li>
            {% endfor %}
        </ul>
    </body>
</html>