{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <center>
            <h1>Adding to {{user}}'s List</h1>
            <br/>
            <br/>
            <img src="{{ poster }}" width="170"></img>
            <br/>
            <br/>
            {% if submitted %}
                <p>Your movie was successfully added!</p>
            {% else %}
            <form action="" method=POST>
                {% csrf_token %}
                {{ form.as_p }}
                <table style="display: none">
                    {{ view.formset.empty_form }}
                </table>
        
                <table>
                    {{ view.formset }}
                </table>
                <input type="submit" value="Submit" class="btn btn-secondary">
            </form>
            <br/>
            {% endif %}
        </center>
    {% else %}
        <h1>Sorry, you must log in or register an account first.</h1>
    {% endif %}
{% endblock %}

{% block footer %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

    {{ form.media }}

    <script>
    (function($) {
        $('#add-form').click(function() {
            var index = $('#id_inline_test_models-TOTAL_FORMS').val()
            var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
            newTable.find(':input').each(function() {
                for (attr of ['name', 'id'])
                    $(this).attr(
                        attr,
                        $(this).attr(attr).replace('__prefix__', index)
                    )
            })
            newTable.insertBefore($(this))
            $('#id_inline_test_models-TOTAL_FORMS').val(
                parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
            )
            newTable.slideDown()
        })
    })($)
    </script>
{% endblock %}