{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
    {% if empty_list %}
        <div class="container">
            <div class="text-center mt-5">
                <h1>{{ user }}'s MovieList</h1>
                <p class="lead">Your MovieList is currently empty. Get started on your list!</p>
            </div>
            <form class="d-flex" method=POST action="{% url 'query_movie' %}">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Enter a movie name to begin your list" aria-label="Search" name="movie_query">
                <button class = "btn btn-outline-secondary" type = "submit">Search</button>
            </form>
            <br/>
        </div>
    {% else %}
        <div class="container">
            <div class="text-center mt-5">
                <h1>{{ user }}'s MovieList</h1>
                <p class="lead">View your list of movies.</p>
                <br/>
                <a href="{% url 'list_summary' %}" class="btn btn-secondary">View Your List's Summary</a>
                <br/>
                <br/>
                <form class="d-flex" method=POST action="{% url 'query_movie' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Enter a movie name to add to your list" aria-label="Search" name="movie_query">
                    <button class = "btn btn-outline-secondary" type = "submit">Search</button>
                </form>
                <br/>
                <form class="d-flex" method=POST action="{% url 'filter_movies' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Filter movies watched after a certain date (MM-DD-YYYY)" aria-label="Search" name="filtered">
                    <input class="form-control me-2" type="search" placeholder="Filter movies watched before a certain date (MM-DD-YYYY)" aria-label="Search" name="filtered2">
                    <button class = "btn btn-outline-secondary" type = "submit">Search</button>
                </form>
                {% if filtered or filtered2 %}
                    <br/>
                    <a href="{% url 'display_home' %}" class="btn btn-secondary">Back</a>
                    <br/>
                    <br/>
                    {% if no_result == True %}
                        <h4>You have no films seen in the range you provided.</h4>
                    {% else %}
                        <h4>Filtering results:</h4>
                    {% endif %}
                {% endif %}
            </div>
            <div class="text-left mt-5">
                <div class="card-container" style="display:flex;flex-wrap:wrap;justify-content:space-between;">
                {% for entry in movielist %}
                    <div class="card text-left" style="width:48%;margin-bottom:35px;">
                        <div class="card-header">
                            <h4>{{ entry.movie_title }}</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{ entry.poster_url }}" width="150"></img>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="card-title">Your Rating: {{ entry.rating }}</h5>
                                    <h5 class="card-title">Date Watched: {{ entry.date_watched }}</h5>
                                    <h5 class="card-title">Comments: </h5>
                                    <p class = "lead">{{ entry.comments }}</p>
                                    <div class="row">
                                        <div class = "col-md-4">
                                            <a href="{% url 'view_movie_info' entry.movie_id %}" class="btn btn-secondary">View Movie Info</a>
                                            <br/><br/>
                                        </div>
                                        <div class = "col-md-4">
                                            <a href="{% url 'update_movie' entry.movie_id %}" class="btn btn-secondary">Update Info</a>
                                            <br/><br/>
                                        </div>
                                        <div class = "col-md-4">
                                            <a href="{% url 'delete_movie' entry.movie_id %}" class="btn btn-secondary">Remove Movie</a>
                                            <br/><br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% else %}
        <div class="container">
            <div class="text-center mt-5">
                <h1>MyMovieList</h1>
                <p class="lead">Welcome to MyMovieList! Please log in or register an account to start using MyMovieList.</p>    
            </div>
        </div>
{% endif %}
{% endblock %}