{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="card text-left">
        <div class="card-header">
            {% if search_summary != True %}
                <h4>Your List's Summary</h4>
            {% elif searched != "" and searched2 != "" %}
                <h4>Your Search Result's Summary:</h4>
                <h4>Movies Watched In Between {{ searched }} and {{ searched2 }}</h4>
            {% elif searched != "" and searched2 == "" %}
                <h4>Your Search Result's Summary:</h4>
                <h4>Movies Watched On or After {{ searched }} </h4>
            {% elif searched2 != "" %}
                <h4>Your Search Result's Summary:</h4>
                <h4>Movies Watched On or Before {{ searched2 }} </h4>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <h4> Average Rating: {{ avg_rating }} </h4>
                    <br/>
                    <h4> Highest Rating: {{ max_rating }} </h4>
                    {% if max_rating != min_rating %}
                        <h4> Movie(s) with Highest Rating: </h4>
                        {% for max_movie in max_rating_movies %}
                            <h5>{{ max_movie }}</h5>
                        {% endfor %}
                    {% endif %}
                    <br/>
                    <h4> Lowest Rating: {{ min_rating }} </h4>
                    <h4> Movie(s) with Lowest Rating: </h4>
                    {% for min_movie in min_rating_movies %}
                        <h5>{{ min_movie }}</h5>
                    {% endfor %}
                    <br/>
                </div>
            </div>
            <a href="{% url 'display_home' %}" class="btn btn-secondary">Back</a>
        </div>
    </div>
    <br/>
{% endblock %}